@import "./_variables";
// BASE STYLES

html,
body,
.root,
#root {
  height: 100%;
}

.sb-show-main.sb-main-padded {
  padding: 0;
}

.hero-wrapper {
  height: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
