@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

// break points
$small: '(min-width: 607px)';
$medium: '(min-width: 768px)';
$large: '(min-width: 992px)';
$xlarge: '(min-width: 1200px)';

// colors
$color-white: #fff;
$color-black: #000;
$color-font-body: #424242;

$color-black-alpha: rgba(0, 0, 0, 0.6);

// scss-docs-start gray-color-variables
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;



$color-muted-blue: #8793ab;

// brand colors
$color-primary: #6ec1e4;
$color-secondary: rgb(173, 33, 70);
$color-third: rgb(219, 127, 48);
$color-fourth: #e2ebf5;

$color-pale: #ce90a2;

$color-warning: #ff9800;
$color-success: #4caf50;
$color-danger: #f44336;

// fonts
$font-family: 'Libre Franklin', sans-serif;

// heading
$heading-one: 2.5rem;
$heading-two: 2rem;
$heading-three: 1.75rem;
$heading-four: 1.5rem;
$heading-five: 1.25rem;
$heading-six: 1rem;
