@import "./_variables";
// BASE STYLES

.anchor {
  width: 100%;
  text-decoration: none;
}
.anchor:hover,
.anchor:focus {
  text-decoration: none;
}
.anchor:focus {
  outline: 0 auto -webkit-focus-ring-color;
  outline-offset: 0;
  border: 0 solid transparent;
}

.anchor[disabled] {
  pointer-events: none;
}
