@import "./_variables";
// BASE STYLES

[role="button"] {
  cursor: pointer;
}

.button {
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 18px;
  line-height: 1.42857143;
  border-radius: 4px;
  user-select: none;
  overflow: visible;
  text-transform: none;
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  color: $color-white;
}

.button:focus,
.button:active:focus {
  outline: 0 auto -webkit-focus-ring-color;
  outline-offset: 0;
}

.button:hover,
.button:focus {
  text-decoration: none;
}

.button:active,
.button.active {
  outline: 0;
  background-image: none;
}

.button[disabled] {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}

.button {
	padding: 10px 5px;
	border-radius: 5px;
	height: 60px;
  border-radius: 30px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
		opacity: 0.8;
	}

	&.primary {
		background-color: $color-primary;
		color: $color-white;
		width: 100%;
	}

	&.submit {
		background-color: $color-success;
		color: $color-white;
		width: 100%;
	}

	&.edit {
		background-color: $color-white;
    color: $color-font-body;
		border: 1px solid $color-font-body;
		width: 100%;
	}

	&.delete {
		background-color: $color-white;
		color: $color-danger;
		width: 100%;
	}

	&.warning {
		background-color: $color-white;
		border: 1px solid $color-warning;
		color: $color-warning;
		width: 100%;
	}

	&.red {
		background-color: $color-secondary;
	}

	&.orange {
		background-color: $color-third;
	}

	&.pale {
		background-color: #ce90a2;
	}

	&.purple {
		background-color: rgb(137, 44, 153);
	}

	&.blue {
		background-color: rgb(0, 74, 173);
	}

	&.lime-green {
		background-color: #7ed957;
	}

	&.neon-orange {
		background-color: #ff5757;
	}

	&.sky-blue {
		background-color: #0ac0df;
	}

	&.slate-grey {
		background-color: #a6a6a6;
	}

	&.grass-green {
		background-color: #00bf63;
	}

	&.mustard-yellow {
		background-color: #efc908;
	}

	&.candy-purple {
		background-color: #ca6ce6;
	}

	&.royal-blue {
		background-color: #0078b5;
	}

	&.secondary {
		background-color: $color-secondary;
	}

	&.off-orange {
		background-color: #efa97c;
	}

	&.beige {
		background-color: #f5e6cc;
	}
}