@import './_variables.scss';

.footer {
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: $color-white;
	border-bottom: 1px solid $gray-100;
	background-color: rgba(173, 33, 70, 0.9);
	color: $color-white;
	padding: 20px;
	flex-direction: column;

	@media #{$medium} {
		padding: 40px;
		flex-direction: row;
	}

	.paragraph,
	.list-item {
		color: $color-white;
	}

	// override the default styles for the ul
	.unordered-list {
		&.base-options {
			display: unset;
			flex-direction: column;
			justify-content: flex-start;
			margin-top: 20px;

			@media #{$medium} {
				display: flex;
				margin-top: 0;
			}
		}

		&.col-1 {
			text-align: left;

			.paragraph {
				margin: 0 0 10px 0;
			}
		}

		&.col-2 {
			@media #{$medium} {
				text-align: center;
			}

			.paragraph {
				margin: 0 0 10px 0;
			}

			.icons {
				display: flex;
				flex-direction: row;
				margin: 0 0 10px 0;

				.list-item {
					padding: 0 20px 0 0;
				}
			}
		}

		&.col-3 {
			text-align: right;

			@media #{$medium} {
				align-items: flex-end;
			}
		}

		.list-item {
			color: $color-white;

			.nav-link {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin: 0 0 10px 0;

				@media #{$medium} {
					padding: 5px 20px;
				}

				&:hover {
					background-color: rgba($color: $color-black, $alpha: 0.16);
				}
			}
		}
	}
}
