@import "./_variables";

h1 {
    font-weight: 800;
    font-size: 96px;
    letter-spacing: -.3rem;
}

h2 {
    font-weight: 700;
    font-size: 61px;
    letter-spacing: -.1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family;
}