@import "./_variables";

h1 {
    font-family: $heading-font;
    font-weight: 800;
}

h2 {
    font-family: $heading-font;
    font-weight: 700;
}

h3 {
    font-family: $heading-font;
    font-weight: 600;
}

h4 {
    font-family: $heading-font;
    font-weight: 500;
}

h5 {
    font-family: $heading-font;
    font-weight: 400;
}

h6 {
    line-height: 1;
    font-weight: 300;
}