@import './_variables.scss';

.program-container {
	.container {
		display: flex;
		flex-direction: column;
		border-top: 1px solid $gray-200;

		@media #{$medium} {
			flex-direction: row;
			border-top: none;
		}

		.column {
			display: flex;
			flex-direction: column;
			width: 100%;
			padding-bottom: 20px;

			&.col-1 {
				@media #{$medium} {
					padding: 0 20px;
					width: 66.6%;
				}

				.header-wrapper {
					display: flex;
					align-items: center;

					.has-icon {
						margin: 0 0 0 15px;

						.icon {
							width: 50px;
						}
					}
				}

				.paragraph {
					margin: 20px 0 0 0;
				}

				.btn-wrapper {
					display: flex;
					align-items: center;
					justify-content: center;
					margin: 40px 0 0 0;

					.button {
						@media #{$medium} {
							width: 250px;
						}
					}
				}
			}

			&.col-2 {
				@media #{$medium} {
					width: 33.3%;
				}
			}
		}
	}
}
