@import "./_variables";
// BASE STYLES

.text-area {
  line-height: normal;
  background-color: $color-white;

  &:focus {
    border: solid 1px transparent;
    border-bottom: solid 1px $gray-500;
  }
}