@import "./_variables";
// BASE STYLES

.input {
  line-height: normal;
  background-color: $color-white;
  border: solid 1px $gray-200;

  &:focus {
    border: solid 1px transparent;
    border-bottom: solid 1px $gray-500;
  }
}

.input[type="search"] {
  box-sizing: content-box;
}

.input[type="search"]::-webkit-search-cancel-button,
.input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
